@page "/"

<PageTitle>Home</PageTitle>

<div class="text-center mt-5">
    <h1>College Event System</h1>
    <p class="lead">Welcome! Please register or login to continue.</p>

    <NavLink href="/register" class="btn btn-primary me-2">Register</NavLink>
    <NavLink href="/login" class="btn btn-success">Login</NavLink>
</div>
